.sobremim {
  padding-block: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}
img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
.descricao {
  width: 35%;
  font-size: 1.4rem;
}
.descricao p {
  font-size: 1.3rem;
}
.descricao span {
  color: var(--red);
  font-weight: bold;
  font-size: 1.8rem;
}
.descricao strong {
  font-size: 1.5rem;
  color: var(--secondary);
}

.tecnologias {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tecnologias h2 {
  font-size: 3rem;
  padding-block: 2rem;
}
.icons {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.icon {
  font-size: 4rem;
  color: var(--secondary);
  transition: all 3s;
}
.icon:hover {
  transition: all 1s;
  color: var(--red);
}
